# Introduction

Après avoir parcouru le fichier, nous allons commencer à le modifier

# Import des modules

In [ ]:
import pandas as pd

# Lecture des données

In [ ]:
df = pd.read_csv("datas.csv", index_col=0)

# Quelques rappels

### 10 première lignes

In [ ]:
df.head(10)

### 10 dernière lignes

In [ ]:
df.tail(10)

### Liste des colonnes

In [ ]:
df.columns

### Dimensions du tableau

In [ ]:
df.shape

### Type des données

In [ ]:
df.dtypes

### Décompte des valeurs présentes

In [ ]:
df.count()

### Première infos statistiques

In [ ]:
df.describe()

### Mémoire occupée par le DataFrame

In [ ]:
df.memory_usage() / 1024 / 1024

In [ ]:
df.memory_usage().sum() / 1024 / 1024

# Suppression conditionnelle de lignes
Les vols déviés de leurs plans d'origine sont très rares et ne nous intéressent pas ici. on choisit donc de les retirer de notre DataFrame. On utilise pour cela l'extration conditionnelle

In [ ]:
df.Diverted.value_counts()

In [ ]:
df = df[df.Diverted == 0]

In [ ]:
df.shape

### Exercice : faire la même chose avec les vols annulés

In [ ]:
df.Cancelled.value_counts()

In [ ]:
df = df[df.Cancelled == 0]

In [ ]:
df.shape

# Suppression de colonnes
Certaines colonnes sont devenues inutiles du fait de notre extraction conditionnelle précédente

### Exercice : supprimer toutes les colonnes inutiles ainsi que taxiIn et taxiOut

In [ ]:
import pandas as pd
df = pd.read_csv("datas.csv", index_col=0)
df = df[df.Cancelled == 0]
df = df[df.Diverted == 0]

In [ ]:
df.drop(['Month','Year','Cancelled','Diverted','TaxiIn','TaxiOut','CancellationCode'],axis=1,inplace=True)
df.head()

# Mémoire occupée
On regarde l'évolution de la mémoire occupée par le DataFrame suite à la suppression de plusieurs colonnes

In [ ]:
df.memory_usage().sum() / 1024 / 1024

# Optimisation des types de variable
La méthode astype nous permet de changer le dtype d'une variable, ceci afin d'économiser de la mémoire et potentiellement accélérer certaines opérations

### exemple de dayOfMonth

In [1]:
import pandas as pd
df = pd.read_csv("datas.csv", index_col=0)
df = df[df.Cancelled == 0]
df = df[df.Diverted == 0]

In [2]:
df.drop(['Month','Year','Cancelled','Diverted','TaxiIn','TaxiOut','CancellationCode'],axis=1,inplace=True)
df.head()

,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,ArrDelay,DepDelay,Origin,Dest,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
Vol_0,8,1,705.0,700,917.0,915,US,560,N405US,132.0,...,2.0,5.0,PBI,DCA,857,0,0,0,0,0
Vol_1,10,3,705.0,700,920.0,915,US,560,N784AU,135.0,...,5.0,5.0,PBI,DCA,857,0,0,0,0,0
Vol_2,12,5,700.0,700,922.0,915,US,560,N421US,142.0,...,7.0,0.0,PBI,DCA,857,0,0,0,0,0
Vol_3,14,7,700.0,700,910.0,915,US,560,N435US,130.0,...,-5.0,0.0,PBI,DCA,857,0,0,0,0,0
Vol_4,16,2,724.0,700,921.0,915,US,560,N426US,117.0,...,6.0,24.0,PBI,DCA,857,0,0,0,0,0

In [3]:
df.DayofMonth.memory_usage() / 1024 / 1024

4.53680419921875

In [4]:
print(df.DayofMonth.min(), df.DayofMonth.max())

1 31

In [5]:
df.DayofMonth = df.DayofMonth.astype('int8')
#changer de type , passer de int64 a int8 ( 2^64)/2 < <-2^64) /2 )

In [6]:
print(df.DayofMonth.head(), df.DayofMonth.tail())

Vol_0     8
Vol_1    10
Vol_2    12
Vol_3    14
Vol_4    16
Name: DayofMonth, dtype: int8 Vol_301455    31
Vol_301456    31
Vol_301457    31
Vol_301458    31
Vol_301459    31
Name: DayofMonth, dtype: int8

In [7]:
df.DayofMonth.memory_usage() / 1024 / 1024

2.551952362060547

### appliquer à DayOfWeek

In [8]:
print(df.DayOfWeek.min(), df.DayOfWeek.max())

1 7

In [9]:
df.DayOfWeek = df.DayOfWeek.astype('int8')
#changer de type , passer de int64 a int8 ( 2^64)/2 < <-2^64) /2 )

In [10]:
print(df.DayOfWeek.head(), df.DayOfWeek.tail())

Vol_0    1
Vol_1    3
Vol_2    5
Vol_3    7
Vol_4    2
Name: DayOfWeek, dtype: int8 Vol_301455    3
Vol_301456    3
Vol_301457    3
Vol_301458    3
Vol_301459    3
Name: DayOfWeek, dtype: int8

### appliquer à DepTime, ArrTime, CRSDepTime et CRSArrTime (attention, il y a un piège !)

In [11]:
print(df.CRSArrTime.min(), df.CRSArrTime.max())

1 2359

In [12]:
df.DepTime = df.DepTime.astype('int16')

In [13]:
print(df.DepTime.head(), df.DepTime.tail())

Vol_0    705
Vol_1    705
Vol_2    700
Vol_3    700
Vol_4    724
Name: DepTime, dtype: int16 Vol_301455    1838
Vol_301456     640
Vol_301457    1222
Vol_301458    1830
Vol_301459    1615
Name: DepTime, dtype: int16

In [14]:
df.ArrTime = df.ArrTime.astype('int16')

In [15]:
df.CRSDepTime = df.CRSDepTime.astype('int16')

In [16]:
df.CRSArrTime = df.CRSArrTime.astype('int16')

In [17]:
df.memory_usage().sum() /1024/1024

41.398338317871094

# Mémoire occupée
On regarde une dernière fois la mémoire occupée par le DataFrame suite aux changements de dtype

In [ ]:
df.memory_usage().sum() / 1024 / 1024

# Création de colonnes
On souhaite créer une colonne renseignant, à partir des différents types de retard, le retard total de chaque vol

### Exercice : Chercher comment créer la colonne du retard total (3 méthodes possibles)

### méthode 1

In [ ]:
df['TotalDelay'] = df.CarrierDelay+df.NASDelay

In [ ]:
df.head()

In [ ]:
df.tail

### méthode 2

In [ ]:
df['TotalDelay2'] = df[['CarrierDelay','NASDelay','SecurityDelay']].sum(axis=1)

In [ ]:
df.head()

In [ ]:
df.tail()

### méthode 3

In [18]:
df['TotalDelay'] = [x+y+z+t+u for x, y, z, t, u in zip(df.CarrierDelay,df.NASDelay,df.LateAircraftDelay,df.SecurityDelay,df.WeatherDelay)]

In [ ]:
df.head()

In [ ]:
df.tail()

### Exercice : Chercher comment créer la colonne caractérisant si l'avion est en retard ou non (3 méthodes possibles)

### méthode 1

In [19]:
df['Delayed'] = [1 if x>0 else 0 for x in df.TotalDelay]

In [21]:
df.Delayed.dtypes

dtype('int64')

### méthode 2

In [20]:
df['Delayed2'] = df.TotalDelay>0

In [22]:
df.Delayed2.dtypes

dtype('bool')

### méthode 3

In [23]:
df['Delayed3'] = df[['CarrierDelay','NASDelay','SecurityDelay','LateAircraftDelay','WeatherDelay']].any(axis=1)

In [24]:
df.Delayed3.dtypes

dtype('bool')

In [25]:
df.tail()

,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,TotalDelay,Delayed,Delayed2,Delayed3
Vol_301455,31,3,1838,1842,1943,1945,DL,384,N997DL,65.0,...,215,0,0,0,0,0,0,0,False,False
Vol_301456,31,3,640,645,1307,1318,DL,385,N3745B,207.0,...,1569,0,0,0,0,0,0,0,False,False
Vol_301457,31,3,1222,1155,1422,1345,DL,387,N917DL,120.0,...,576,27,0,10,0,0,37,1,True,True
Vol_301458,31,3,1830,1800,2057,2037,DL,389,N988DL,147.0,...,859,0,0,17,0,3,20,1,True,True
Vol_301459,31,3,1615,1615,1755,1804,DL,392,N6700,100.0,...,581,0,0,0,0,0,0,0,False,False

# Supprimer les colonnes inutiles parmi celles que l'on vient de créer
TotalDelay2, TotalDelay3, Delayed2 et Delayed3 sont inutiles car identiques à TotalDelay et Delayed

In [29]:
df.drop(['Delayed2', 'Delayed3'], axis=1, inplace=True)

In [30]:
df.head()

,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,Origin,Dest,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,TotalDelay,Delayed
Vol_0,8,1,705,700,917,915,US,560,N405US,132.0,...,PBI,DCA,857,0,0,0,0,0,0,0
Vol_1,10,3,705,700,920,915,US,560,N784AU,135.0,...,PBI,DCA,857,0,0,0,0,0,0,0
Vol_2,12,5,700,700,922,915,US,560,N421US,142.0,...,PBI,DCA,857,0,0,0,0,0,0,0
Vol_3,14,7,700,700,910,915,US,560,N435US,130.0,...,PBI,DCA,857,0,0,0,0,0,0,0
Vol_4,16,2,724,700,921,915,US,560,N426US,117.0,...,PBI,DCA,857,0,0,0,0,0,0,0

# Supprimer les différentes colonnes détaillant le retard
On ne s'intéresse qu'au retard total, on peut donc supprimer les colonnes détaillant les raisons du retard

In [31]:
df.drop(['CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'], axis=1, inplace=True)

In [33]:
df.tail()

,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TotalDelay,Delayed
Vol_301455,31,3,1838,1842,1943,1945,DL,384,N997DL,65.0,63.0,37.0,-2.0,-4.0,SAV,ATL,215,0,0
Vol_301456,31,3,640,645,1307,1318,DL,385,N3745B,207.0,213.0,189.0,-11.0,-5.0,PHX,CVG,1569,0,0
Vol_301457,31,3,1222,1155,1422,1345,DL,387,N917DL,120.0,110.0,85.0,37.0,27.0,BWI,ATL,576,37,1
Vol_301458,31,3,1830,1800,2057,2037,DL,389,N988DL,147.0,157.0,113.0,20.0,30.0,BDL,ATL,859,20,1
Vol_301459,31,3,1615,1615,1755,1804,DL,392,N6700,100.0,109.0,80.0,-9.0,0.0,ATL,FLL,581,0,0

# Modifier une colonne
Les colonnes DepTime, CRSDepTime, ArrTime et CRSArrTime sont formatées de la façon suivant : hhmm. Par exemple, un DepTime de 724 correspond à 7h24 le matin. On souhaite modifier cette colonne pour avoir le temps en minutes. Par exemple, 7h24 devient 444.

### Exercice : Créer une colonne DepTime2 qui passe l'information de DepTime en minutes

In [39]:
df['DepTime2'] = [(x//100)*60+x%100 for x in  df.DepTime ]

In [40]:
df[['DepTime', 'DepTime2']].head()

       DepTime  DepTime2
Vol_0      705       425
Vol_1      705       425
Vol_2      700       420
Vol_3      700       420
Vol_4      724       444

In [ ]:
df[['DepTime', 'DepTime2']].tail()

### Exercice : Supprimer la colonne DepTime devenue obsolète

In [48]:
df.drop(['DepTime'],axis=1, inplace=True)

KeyError: "labels ['DepTime'] not contained in axis"

,DayofMonth,DayOfWeek,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TotalDelay,Delayed,DepTime
Vol_301455,31,3,1842,1943,1945,DL,384,N997DL,65.0,63.0,37.0,-2.0,-4.0,SAV,ATL,215,0,0,1118
Vol_301456,31,3,645,1307,1318,DL,385,N3745B,207.0,213.0,189.0,-11.0,-5.0,PHX,CVG,1569,0,0,400
Vol_301457,31,3,1155,1422,1345,DL,387,N917DL,120.0,110.0,85.0,37.0,27.0,BWI,ATL,576,37,1,742
Vol_301458,31,3,1800,2057,2037,DL,389,N988DL,147.0,157.0,113.0,20.0,30.0,BDL,ATL,859,20,1,1110
Vol_301459,31,3,1615,1755,1804,DL,392,N6700,100.0,109.0,80.0,-9.0,0.0,ATL,FLL,581,0,0,975

### Exercice : Renommer la colonne DepTime2 en DepTime (Je vous laisse chercher !)

In [50]:
df.rename(columns={'DepTime2':'DepTime'},inplace=True)
df.tail()

,DayofMonth,DayOfWeek,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TotalDelay,Delayed,DepTime
Vol_301455,31,3,1842,1943,1945,DL,384,N997DL,65.0,63.0,37.0,-2.0,-4.0,SAV,ATL,215,0,0,1118
Vol_301456,31,3,645,1307,1318,DL,385,N3745B,207.0,213.0,189.0,-11.0,-5.0,PHX,CVG,1569,0,0,400
Vol_301457,31,3,1155,1422,1345,DL,387,N917DL,120.0,110.0,85.0,37.0,27.0,BWI,ATL,576,37,1,742
Vol_301458,31,3,1800,2057,2037,DL,389,N988DL,147.0,157.0,113.0,20.0,30.0,BDL,ATL,859,20,1,1110
Vol_301459,31,3,1615,1755,1804,DL,392,N6700,100.0,109.0,80.0,-9.0,0.0,ATL,FLL,581,0,0,975

### Exercice : Faire transformation pour CRSDepTime, ArrTime et CRSArrTime mais sans passer par une colonne intermédiaire

In [51]:
df['CRSDepTime'] =  [(x//100)*60+x%100 for x in  df.CRSDepTime ]

In [52]:
df['ArrTime'] = [(x//100)*60+x%100 for x in  df.ArrTime ]

In [53]:
df['CRSArrTime'] = [(x//100)*60+x%100 for x in  df.CRSArrTime ]

# Changer l'order des colonnes
La colonne DepTime2 a été créée en bout de DataFrame (tout à droite). Or, c'est celle que nous avons conservé en tant que DepTime suite à la suppression de la DepTime d'origne. On a donc changé l'ordre de nos colonnes

In [54]:
df.head()

,DayofMonth,DayOfWeek,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TotalDelay,Delayed,DepTime
Vol_0,8,1,420,557,555,US,560,N405US,132.0,135.0,117.0,2.0,5.0,PBI,DCA,857,0,0,425
Vol_1,10,3,420,560,555,US,560,N784AU,135.0,135.0,120.0,5.0,5.0,PBI,DCA,857,0,0,425
Vol_2,12,5,420,562,555,US,560,N421US,142.0,135.0,123.0,7.0,0.0,PBI,DCA,857,0,0,420
Vol_3,14,7,420,550,555,US,560,N435US,130.0,135.0,120.0,-5.0,0.0,PBI,DCA,857,0,0,420
Vol_4,16,2,420,561,555,US,560,N426US,117.0,135.0,105.0,6.0,24.0,PBI,DCA,857,0,0,444

### Exercice : réordonner les colonnes pour revenir à l'ordre d'origine

In [ ]:
cols=df.colums.totlist()[2:0]+Det

# Synthèse des retards par compagnie
La méthode groupby va nous permettre d'extraire facilement des informations par compagnie : https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.groupby.html

### Création d'un nouveau DataFrame

In [55]:
df_comp = pd.DataFrame(index=df.UniqueCarrier.unique())

In [56]:
df_comp

Empty DataFrame
Columns: []
Index: [US, WN, YV, OH, OO, XE, TZ, UA, DL, EV, F9, FL, HA, MQ, NW, AA, AQ, AS, B6, CO]

In [57]:
df_comp.sort_index(inplace=True)

In [58]:
df_comp.head()

Empty DataFrame
Columns: []
Index: [AA, AQ, AS, B6, CO]

### Première colonne du DataFrame

In [59]:
df_comp['count'] = df.loc[:, ['UniqueCarrier', 'TotalDelay']].groupby('UniqueCarrier').count()

In [60]:
df_comp.head()

    count
AA  27349
AQ   1800
AS   6688
B6   5985
CO  12904

### Exercice : Continuer à remplir le DataFrame avec la moyenne, l'écart-type, le minimum, le quantile 25%, le quantile 50%, le quantile 75% et le maximum

In [61]:
df.describe()

,DayofMonth,DayOfWeek,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,TotalDelay,Delayed,DepTime
count,297324.000000,297324.000000,297324.000000,297324.000000,297324.000000,297324.000000,297324.000000,297324.000000,297324.000000,297324.000000,297324.000000,297324.000000,297324.000000,297324.000000,297324.000000
mean,15.903449,3.746162,808.527169,903.665355,908.016790,2195.485692,125.134967,126.755432,102.644391,6.928381,8.548846,732.252496,10.789654,0.206993,814.659257
std,8.943123,1.987111,276.951876,297.849917,285.798374,2020.351055,71.050381,70.514544,75.888877,33.664616,30.402858,578.786571,31.205019,0.405151,283.953208
min,1.000000,1.000000,10.000000,1.000000,1.000000,1.000000,16.000000,19.000000,-1416.000000,-240.000000,-1020.000000,24.000000,0.000000,0.000000,1.000000
25%,8.000000,2.000000,570.000000,669.000000,675.000000,573.000000,74.000000,75.000000,54.000000,-9.000000,-4.000000,317.000000,0.000000,0.000000,570.000000
50%,16.000000,4.000000,800.000000,916.000000,919.000000,1467.000000,106.000000,108.000000,84.000000,-2.000000,0.000000,576.000000,0.000000,0.000000,807.000000
75%,24.000000,5.000000,1038.000000,1149.000000,1144.000000,3584.000000,155.000000,156.000000,131.000000,10.000000,8.000000,958.000000,0.000000,0.000000,1050.000000
max,31.000000,7.000000,1439.000000,1550.000000,1439.000000,9501.000000,1511.000000,640.000000,1484.000000,1078.000000,1070.000000,4962.000000,1078.000000,1.000000,1471.000000

In [63]:
df_comp['moyenne'] = df.loc[:, ['UniqueCarrier', 'TotalDelay']].groupby('UniqueCarrier').mean()

In [64]:
df_comp['ecartType'] = df.loc[:, ['UniqueCarrier', 'TotalDelay']].groupby('UniqueCarrier').std()

In [65]:
df_comp['minimum'] = df.loc[:, ['UniqueCarrier', 'TotalDelay']].groupby('UniqueCarrier').min()

In [66]:
df_comp['quantile25'] = df.loc[:, ['UniqueCarrier', 'TotalDelay']].groupby('UniqueCarrier').quantile(q=0.25)

In [71]:
df_comp['quantile50'] = df.loc[:, ['UniqueCarrier', 'TotalDelay']].groupby('UniqueCarrier').quantile(0.5)

In [67]:
df_comp['quantile75'] = df.loc[:, ['UniqueCarrier', 'TotalDelay']].groupby('UniqueCarrier').quantile(q=0.75)

In [62]:
df_comp['maximum'] = df.loc[:, ['UniqueCarrier', 'TotalDelay']].groupby('UniqueCarrier').max()

In [75]:
df_comp

,count,maximum,moyenne,ecartType,minimum,quantile25,quantile75,quantile50
AA,27349,993,13.237486,36.670329,0,0.0,0.0,0.0
AQ,1800,235,3.396111,13.197027,0,0.0,0.0,0.0
AS,6688,523,7.711872,26.100351,0,0.0,0.0,0.0
B6,5985,653,8.839599,28.645614,0,0.0,0.0,0.0
CO,12904,592,13.964585,35.367171,0,0.0,15.0,0.0
DL,20666,560,7.618891,23.805501,0,0.0,0.0,0.0
EV,11776,1061,12.336872,32.868313,0,0.0,0.0,0.0
F9,3842,471,5.354243,18.497668,0,0.0,0.0,0.0
FL,9894,561,10.901759,29.223487,0,0.0,0.0,0.0
HA,2060,283,1.928155,12.563377,0,0.0,0.0,0.0
MQ,22864,825,16.045224,36.974729,0,0.0,19.0,0.0
NW,18176,1078,8.419509,34.723612,0,0.0,0.0,0.0
OH,11516,535,9.135637,27.604238,0,0.0,0.0,0.0
OO,22776,462,8.804970,27.871130,0,0.0,0.0,0.0
TZ,765,293,18.994771,41.483328,0,0.0,22.0,0.0
UA,20960,526,15.676002,40.588612,0,0.0,0.0,0.0
US,21122,622,8.033283,23.675080,0,0.0,0.0,0.0
WN,45815,410,8.076023,22.976132,0,0.0,0.0,0.0
XE,18327,489,14.578545,36.235645,0,0.0,15.0,0.0
YV,12039,467,11.999252,33.567506,0,0.0,0.0,0.0

# Opérations plus complexes dans un groupby

### Application de la fonction finale à plusieurs colonnes

In [76]:
df.loc[:, ['UniqueCarrier', 'TotalDelay', 'CRSElapsedTime']].groupby('UniqueCarrier').max()

               TotalDelay  CRSElapsedTime
UniqueCarrier
AA                    993           549.0
AQ                    235           354.0
AS                    523           414.0
B6                    653           400.0
CO                    592           640.0
DL                    560           579.0
EV                   1061           226.0
F9                    471           325.0
FL                    561           335.0
HA                    283           385.0
MQ                    825           209.0
NW                   1078           495.0
OH                    535           196.0
OO                    462           236.0
TZ                    293           392.0
UA                    526           561.0
US                    622           425.0
WN                    410           375.0
XE                    489           239.0
YV                    467           232.0

### grouper selon plusieurs colonnes

In [79]:
df.loc[:, ['Origin', 'Dest', 'TotalDelay']].groupby(['Origin', 'Dest']).max()

             TotalDelay
Origin Dest
ABE    ATL          394
       CLE           60
       CLT            0
       CVG            0
       JFK            0
       ORD          200
ABI    DFW           87
ABQ    AMA           80
       ATL           98
       BWI            0
       CVG           27
       DAL           52
       DEN          164
       DFW          614
       ELP          198
       HOU           26
       IAH          215
       LAS          141
       LAX           35
       LBB           58
       MAF           87
       MCI           35
       MCO          112
       MDW           80
       MSP           27
       OAK           50
       ORD          100
       PDX            0
       PHX           74
       SAN           70
...                 ...
TYS    CLE          243
       CVG           67
       DEN            0
       DFW          102
       EWR           94
       IAH          241
       LGA           18
       ORD          406
VLD    ATL           94
VPS    ATL          216
       DFW          582
       IAH          125
       MEM           77
WRG    KTN           36
       PSG           16
XNA    ATL          201
       CVG            0
       DEN           45
       DFW          480
       EWR          286
       IAH          144
       LAX          243
       LGA          127
       ORD          323
       SLC           57
YAK    CDV           22
       JNU            0
YUM    IPL           55
       LAX          100
       PHX          219

[4003 rows x 1 columns]

### Utilisation d'une lambda fonction

In [82]:
df.loc[:, ['UniqueCarrier', 'TotalDelay', 'CRSElapsedTime']].groupby('UniqueCarrier').apply(lambda x: 100*(x.TotalDelay / x.CRSElapsedTime).max())

UniqueCarrier
AA     844.827586
AQ     382.758621
AS     462.831858
B6     932.857143
CO     442.307692
DL     708.860759
EV    1583.582090
F9     336.428571
FL     623.333333
HA     282.758621
MQ    1015.942029
NW    1847.169811
OH     983.333333
OO    1320.000000
TZ     237.500000
UA     634.146341
US     659.375000
WN     611.111111
XE     738.333333
YV     603.703704
dtype: float64

### Exercice : Certains retards semblent énormes (+ de 1000% !). Isolez les lignes correspondant à ces vols et observez ce qu'il s'est passé

In [84]:
idmax=df.loc[:, ['UniqueCarrier', 'TotalDelay', 'CRSElapsedTime']].groupby('UniqueCarrier').apply(lambda x: (100*(x.TotalDelay / x.CRSElapsedTime)).idxmax())

In [91]:
df.loc[idmax]

,DayofMonth,DayOfWeek,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TotalDelay,Delayed,DepTime
Vol_235600,13,6,582,1130,640,AA,937,N069AA,75.0,58.0,42.0,490.0,473.0,MCO,MIA,193,490,1,1055
Vol_253989,2,2,600,740,629,AQ,72,N821AL,26.0,29.0,19.0,111.0,114.0,LIH,HNL,102,111,1,714
Vol_261259,27,6,525,1221,698,AS,60,N782AS,105.0,113.0,91.0,523.0,531.0,KTN,SEA,680,523,1,1056
Vol_262694,3,3,1360,643,1430,B6,128,N580JB,77.0,70.0,45.0,653.0,646.0,JFK,BTV,267,653,1,566
Vol_280808,14,7,930,1353,1008,CO,323,N79402,74.0,78.0,41.0,345.0,349.0,IAH,MSY,305,345,1,1279
Vol_297807,25,4,990,129,1009,DL,1226,N907DL,104.0,79.0,89.0,560.0,535.0,CVG,ORD,264,560,1,85
Vol_162756,16,2,360,1548,487,EV,4900,N901EV,58.0,67.0,-1402.0,1061.0,1070.0,MEI,ATL,267,1061,1,1430
Vol_165813,23,2,380,1051,580,F9,420,N912FR,130.0,140.0,113.0,471.0,481.0,SAN,DEN,853,471,1,861
Vol_171396,14,7,420,1071,510,FL,120,N281AT,98.0,90.0,74.0,561.0,553.0,TPA,ATL,406,561,1,973
Vol_178364,27,6,1120,1231,1149,HA,314,N478HA,112.0,29.0,96.0,82.0,-1.0,LIH,HNL,102,82,1,1119
Vol_185630,29,1,1180,510,1249,MQ,3543,N501BG,65.0,69.0,49.0,701.0,705.0,DFW,LIT,304,701,1,445
Vol_214261,30,2,900,492,953,NW,1098,N771NC,73.0,53.0,45.0,979.0,959.0,GRR,DTW,120,979,1,419
Vol_76366,17,3,440,1020,548,OH,5319,N331CA,49.0,48.0,37.0,472.0,471.0,EVV,CVG,170,472,1,911
Vol_103042,29,1,525,1022,560,OO,6225,N294SW,33.0,35.0,19.0,462.0,464.0,MRY,SFO,77,462,1,989
Vol_124035,31,3,840,1185,900,TZ,4293,N514AT,150.0,120.0,94.0,285.0,255.0,DCA,MDW,601,285,1,1095
Vol_130212,24,3,978,80,1000,UA,371,N813UA,344.0,82.0,169.0,520.0,258.0,CVG,ORD,264,520,1,1236
Vol_9515,5,5,420,906,484,US,3,N621AW,113.0,64.0,43.0,422.0,373.0,LAS,PHX,256,422,1,793
Vol_52881,25,4,1205,85,1250,WN,183,N754,50.0,45.0,37.0,275.0,270.0,BWI,ORF,159,275,1,35
Vol_110113,6,6,350,853,410,XE,3069,N16944,68.0,60.0,38.0,443.0,435.0,LFT,IAH,201,443,1,785
Vol_72176,24,3,1225,165,1279,YV,7309,N75996,52.0,54.0,28.0,326.0,328.0,ORD,BMI,116,326,1,113

# Sauvegarde des données
la méthode to_csv permet d'écrire le DataFrame modifié au format csv. L'argument index=True précise que l'on souhaite écrire l'index dans le fichier

In [89]:
df.to_csv('datas_cleaned.csv', index=True)